<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.means.foods"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FIND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:name=".FoodsApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".cate.RestaurantDetailsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity android:name=".main.SearchActivity" />
        <activity android:name=".main.SearchResultActivity" />
        <activity
            android:name=".cate.RestaurantListActivity"
            android:label="@string/title_activity_restaurant_list" />
        <activity
            android:name=".my.EditinfoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait" />
        <activity android:name=".my.MsgDetailActivity" />
        <activity android:name=".cate.ReservationsDetailsActivity" />
        <activity
            android:name=".my.RegisterOneActivity"
            android:launchMode="singleTask" />
        <activity android:name=".my.RegisterTwoActivity" />
        <activity android:name=".my.RegisterThreeActivity" />
        <activity android:name=".main.MainActivity" />
        <activity
            android:name=".my.LoginActivity"
            android:launchMode="singleTask" />
        <activity android:name=".main.SplashActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".cate.ConfirmDetailsActivity" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="wx63ff0f643d107913" />
            </intent-filter>
        </activity>
        <activity android:name=".my.ReviseNameActivity" >
        </activity>
        <activity android:name=".my.RevisePhoneActivity" >
        </activity>
        <activity android:name=".my.MsgListActivity" >
        </activity>
        <activity android:name=".my.MyReservationsListActivity" >
        </activity>
        <activity android:name=".my.ReviseEmailActivity" >
        </activity>
        <activity android:name=".my.RevisePswdActivity" >
        </activity>
        <activity android:name=".main.GuidanceActivity" >
        </activity>
        <activity android:name="com.means.foods.main.ReadyActivity" >
        </activity>
        
         <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"/>

        <receiver android:name=".AppRegister" >
            <intent-filter>
                <action android:name="com.tencent.mm.plugin.openapi.Intent.ACTION_REFRESH_WXAPP" />
            </intent-filter>
        </receiver>
    </application>

</manifest>